.skill-container{
    margin: 40px;
    font-size: 16px;
    color: whitesmoke;
    animation: 5s fadeIn;
    animation-fill-mode: forwards;
    visibility: hidden;
    
}
.skills-icon{
  border-radius: 100px;
  width :100px;
  height: 100px;
  
}
.skills-icon:hover{
  cursor: pointer;

}
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      visibility: visible;
      opacity: 1;
    }
  }