.skill-container{
    margin: 100px;
    font-size: 16px;
    color: whitesmoke;
    animation: 5s fadeIn;
    animation-fill-mode: forwards;
    visibility: hidden;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      visibility: visible;
      opacity: 1;
    }
  }