@import url(https://fonts.googleapis.com/css?family=Roboto:500,100,400);

nav{
    width:auto;
    background-color: #282c34;
    top:10px;
    margin-bottom: 50px;
    z-index: 10;    
    padding: 10px;
    border-radius: 24px;
    border-bottom:1px solid silver;
  }

  li{
    list-style:none;
    display:inline-block;
    position:relative;
    padding:10px;
    z-index:10;
  }
  a{
    text-decoration:none;
    position:relative;
    padding:1px 6px;
    -webkit-transition:all 0.8s;
    transition:all 0.8s;
    color:#00d8ff;
  }
  a:after{
    content:'';
    width:0%;
    margin-left:50%;
    height:2px;
    bottom:0;
    left:0;
    border-radius:40%;
    position:absolute;
    transition:all 0.5s;
  }
  a:hover:after{
    background-color:lightblue;
    width:60%;
    margin-left:20%;
    box-shadow:0px 0px 10px lightblue;
  }
  @media only screen and (max-width: 800px) {
    nav{
      position: fixed;
      padding :10px;
      border-radius: 24px;
      width:90%;
    }
} 
