.Nav-items {
    color: white; 
    font-size: 24px;
    font-weight: 10;
    padding: 0px 5px;;
    margin: 70px;
    box-shadow: 0 3px 1.4px rgba(245, 223, 223, 0.863), 0 2px 1.4px rgb(255, 254, 254);
    transition: all .4s ease-in;
}
.Nav-items:hover{
    background-color: #120e1f;
    border-radius: 20px;;
    cursor: pointer;
    color: aqua;
}