
.connect-container{
    margin: 80px;
    font-size: 16px;
    
    animation: 5s fadeIn;
    animation-fill-mode: forwards;
    visibility: hidden;
}
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      visibility: visible;
      opacity: 1;
    }
  }
  .connect-container ul {
    margin :0px;
    list-style: none;
    padding :0px
  }

  .connect-container ul li {
    width: 75px;
    height: 75px;   
    line-height: 75px;
    margin: 5px 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    border: 5px solid #D8E2DC;
    transition: all 0.5s ease;
  }
  .connect-container ul li .fa {
    color: #D8E2DC;
    margin-top: 20px;
    transition: all 0.5s ease;
  }
  /*facebook*/
  .connect-container ul li:hover.linkedin {
    border: 5px solid #3b5998;
    box-shadow: 0 0 15px #3b5998;
    transition: all 0.5s ease;
  }
  
  .connect-container ul li:hover .fa-linkedin {
    color: #3b5998;
    text-shadow: 0 0 15px #3b5998;
    transition: all 0.5s ease;
  }
  
  /*twitter*/
  .connect-container ul li:hover.twitter {
    border: 5px solid #00aced;
    box-shadow: 0 0 15px #00aced;
    transition: all 0.5s ease;
  }
  
  .connect-container ul li:hover .fa-twitter {
    color: #00aced;
    text-shadow: 0 0 15px #00aced;
    transition: all 0.5s ease;
  }
  
  /* instagram */
  .connect-container ul li:hover.instagram {
    border: 5px solid #bc2a8d;
    box-shadow: 0 0 15px #bc2a8d;
    transition: all 0.5s ease;
  }
  
  .connect-container ul li:hover .fa-instagram {
    color: #bc2a8d;
    text-shadow: 0 0 15px #bc2a8d;
    transition: all 0.5s ease;
  }
  
  .connect-container ul li:hover.google {
    border: 5px solid #dd4b39;
    box-shadow: 0 0 15px #dd4b39;
    transition: all 0.5s ease;
  }
  
  .connect-container ul li:hover .fa-google {
    color: #dd4b39;
    text-shadow: 0 0 15px #dd4b39;
    transition: all 0.5s ease;
  }

  .connect-container ul li:hover.whatsapp {
    border: 5px solid #4dc247;
    box-shadow: 0 0 15px #4dc247;
    transition: all 0.5s ease;
  }
  
  .connect-container ul li:hover .fa-whatsapp {
    color: #4dc247;
    text-shadow: 0 0 15px #4dc247;
    transition: all 0.5s ease;
  }

  .connect-container ul li:hover.telegram {
    border: 5px solid #0088CC;
    box-shadow: 0 0 15px #0088CC ;
    transition: all 0.5s ease;
  }
  
  .connect-container ul li:hover .fa-telegram {
    color: #0088CC;
    text-shadow: 0 0 15px #0088CC;
    transition: all 0.5s ease;
  }

  .connect-container ul li:hover.github {
    border: 5px solid silver;
    box-shadow: 0 0 15px silver;
    transition: all 0.5s ease;
  }
  .connect-container ul li:hover .fa-github {
    color:silver;
    text-shadow: 0 0 15px silver;
    transition: all 0.5s ease;
  }

  